# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.tmp
*.log
*.coverage
.coverage*
.pytest_cache/
.mypy_cache/

# Environnements virtuels
.venv/
venv/
ENV/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# Assets temporaires
assets/**/*.tmp

# Build et distribution
build/
dist/
*.zip
*.tar.gz
